﻿ <head>

<style>
    body 
    {
        width: 500px;
    }
    label 
    {
        width: 100px;
        display: inline-block;
    }
    
    input 
    {
        width: 200px;
    }
</style>
</head>
<body>


<form id="Customer">
  <fieldset>
    <legend> Customer</legend>
 <div><label for="nn">Name:</label><input id="nn" type="text"  name="name" required /></div>
 <div><label for="bd">Cellphone:</label><input id="bd" type="number"  name="email" required /></div>
 <div><label for="ws">Email: </label><input type="mail" name="mail" required/></div>
 <div><label for="edad">Adress:</label><input type="text" name="text"></div>
<div><label for="elegir">City:</label><input type="city" placeholder="Argentina" list="countries"></div>
<datalist id="countries"  >
    <option  value="Argentina"></option>
    <option  value="EEUU"></option>
    <option value="India"></option>
    <option  value="Rusia"> </option>
    <option  value="China"> </option>   
</datalist>

 <p><input type="submit" value="enviar"></p>
 
 
  </fieldset>
 
</form>
</body>
