﻿ <head>

<style>
#header h1 {
    margin: 0;
    padding: 0;
}
#header h1 a {
    background-color: #ccc;
    border-bottom: 1px solid #666;
    color: #222;
    display: block;
    font-size: 20px;
    font-weight: bold;
    padding: 10px 0;
    text-align: center;
    text-decoration: none;
}

 body {
    background-color: #ddd; /* Background color */
    color: #222;            /* Foreground color used for text */
    font-family: Helvetica; 
    font-size: 14px;
    margin: 0;              /* Amount of negative space around the 
                               outside of the body */
    padding: 0;             /* Amount of negative space around the 
                               inside of the body */
}



    label 
    {
        width: 100px;
        display: inline-block;
    }
    
    input 
    {
        width: 200px;
    }
</style>
</head>
<body>


<form id="ABM Products">
  <fieldset>
    <legend> ABM Products</legend>
 <div><label for="nn">Name:</label><input id="nn" type="text"  name="name" required /></div>
 <div><label for="bd">Quantity:</label><input id="bd" type="number"  name="cantity" required /></div>
<div><label for="Quantity">Quantity:</label><input type="number" placeholder="General" list="categories"></div>
<datalist id="categories"  >
    <option  value="General"></option>
    <option  value="Cars"></option>
    <option value="Chocolates"></option>
    <option  value="Chairs"> </option>
    <option  value="Tables"> </option>   
</datalist>
 <div><label for="desc">Description:</label><input id="dn" type="text"  name="description" required /></div>
 <div><label for="po">Photo:</label><input id="po" type="img"  name="image" required /></div>

 <p><input type="submit" value="enviar"></p>
 
 
  </fieldset>
 
</form>
</body>
